{
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        },
        "include": ["transform-async-to-generator", "es7.object.values", "es7.object.entries"]
      }
    ]
  ]
}
